<section class="Header">
    <nav class="clearfix">
        <ul class="nav-links">
            <li><a href="/" class="{$menuselect==0?'selected':''}"><i class="fa fa-home"></i>&nbsp;DocApi</a></li>
            <li><a href="/docapi" class="{$menuselect==1?'selected':''}"><i class="fa fa-user-circle-o"></i>&nbsp;个人主页</a></li>
            <li><a href="/docapi/projects" class="{$menuselect==2?'selected':''}"><i class="fa fa-book"></i>&nbsp;项目</a></li>

            <li><a href="/api" class="{$menuselect==3?'selected':''}"><i class="fa fa-plug"></i>&nbsp;接口</a></li>
            <li><a href="/status" class="{$menuselect==4?'selected':''}"><i class="fa fa-link"></i>&nbsp;模拟测试</a></li>
        </ul>
        <ul class="nav-actions list-inline float-right">
            {if $Think.session.adminuser}
            <li><a class="name">{$Think.session.adminuser.username}</a></li>
            <li><a href="/adminauth/loginOut">退出</a></li>
            {else /}
            <li><a href="/loginauth">登录</a></li>
            {/if}
        </ul>
    </nav>
</section>