<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
{include file="../application/index/view/layouts/htmlheader.html" /}
<body>
<div id="root">
    <article class="Routes">
        {include file="../application/index/view/layouts/htmltitle.html" /}
        <div class="body">
            <div class="Home">
                <div class="row">
                    {__CONTENT__}
                </div>
            </div>
        </div>
        {include file="../application/index/view/layouts/htmlfooter.html" /}
    </article>
</div>
</body>
</html>