<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
<head>
    {include file="../application/index/view/layouts/htmlheader.html" /}
</head>
<body id="scrapbook" class="mt-main-index two-columns">
{include file="../application/index/view/layouts/htmltitle.html" /}
<div id="container">
    <div id="container-inner">
        <div id="content">
            {include file="../application/index/view/layouts/htmlmain.html" /}
            <div id="content-inner">
                {__CONTENT__}
            </div>
        </div>
        {include file="../application/index/view/layouts/twohtmlfooter.html" /}
    </div>
</div>
</body>
</html>