<div class="panel-heading">{$article.ArticleID?"编辑":"添加"}文章</div>
<div class="panel-body">
    <form action="/admin/doAddarticle" method="POST" onsubmit="return datacheck()" name="articleform" enctype="multipart/form-data">
        <div class="box-body">
            <div class="form-group">
                <label for="typename">文章标题</label>
                <span id="ownlabel" style="display: none;margin-left:5px;color:#008000;font-weight: bold">尊重原创，请保证您的文章为原创作品</span>
                <br/>
                <select onchange="typechange(this.value)" class="form-control" id="articletype" name="articletype" style="width:12%;float:left">
                    <option value="-1" {$article?'':'selected'}>请选择</option>
                    <option value="0" {$article?$article.ArticleType==0 ? 'selected' : '':''}>原创</option>
                    <option value="1" {$article?$article.ArticleType==1 ? 'selected' : '':''}>转载</option>
                    <option value="2" {$article?$article.ArticleType==2 ? 'selected' : '':''}>翻译</option>
                </select>
                <input type="hidden" id="articleid" name="articleid" value="{$article?$article.ArticleID:''}"/>
                <input  style="float:right;width:87%" type="text" id="articletitle" name="articletitle" value="{$article.ArticleTitle?$article.ArticleTitle:''}" class="form-control" placeholder="请输入文章标题">
            </div>
            <div class="form-group" style="clear:both;padding-top:20px;">
                <label for="typeid">文章分类</label>
                <select class="form-control" id="typeid" name="typeid">
                    <option value="0">请选择分类</option>
                    {foreach $articletype as $type}
                    <option value="{$type.TypeID}" {$article ? ($article.TypeID==$type.TypeID ? 'selected' : ''):''} >{$type.TypeName}</option>
                    {/foreach}
                </select>
            </div>

            <div class="form-group" style="clear:both;padding-top:20px;">
                <label>文章封面图</label>
                <input type="text" name="coverimg" id="coverimg" style="width:400px;" value="{$article.ArticleImg}" />
                <input type="button" class="btn" value="浏览...">
                <input type="file" name="coverfile" class="file coverfile" size="28" onchange="document.getElementById('coverimg').value=this.value">
                <input type="button" name="coverimgupload" id="coverimgupload" class="btn" value="上传">
                <iframe id="coverframe" name="coverframe"  class="frame"></iframe>
            </div>

            <div class="form-group" style="padding-top:10px;">
                <label for="articlemsg">文章内容</label>
                <div>
                    <script id="articlemsg" name="articlemsg" type="text/plain" style="height:300px;">{$article?$article.ArticleMsg:''}</script>
                </div>
            </div>

            <div class="form-group" style="clear:both;padding-top:10px;">
                <label for="articetag">文章标签（最多添加5个标签，多个标签之间用“,”分隔）</label>
                <input type="text" id="articetag" name="articetag" value="{$article.ArticleTag?$article.ArticleTag:''}" class="form-control" placeholder="请输入文章标签">
            </div>

            <div class="form-group" style="clear:both;padding-top:10px;">
                <label for="articedigest">文章摘要（默认自动提取您文章的前200字显示在博客首页作为文章摘要，您也可以在这里自行编辑 ）</label>
                <textarea id="articedigest" name="articedigest" class="form-control" placeholder="请输入文章摘要">{$article.ArticleDigest?$article.ArticleDigest:''}</textarea>
            </div>

            <div class="form-group" style="text-align: center">
                <button type="submit" id="publicbtn" style="margin-right:10%;" class="btn btn-primary">发表文章</button>
                <button type="button" style="margin-right:10%;" onclick="articlesave()" class="btn btn-primary">立即保存</button>
                <a class="btn btn-primary" href="/admin/articles">舍弃</a>
                <span id="savelabel" style="display: none;padding:5px;margin-left:10%;border:1px solid #FFCC00;background-color: #FFFFCC;color:#008000"></span>
            </div>
        </div>
    </form>
</div>
<script>
    function typechange(obj) {
        if(obj==0) {
            $("#ownlabel").show();
        }else {
            $("#ownlabel").hide();
        }
    }
    function datacheck() {
        var articletype=$("#articletype").val();
        var articletitle=$("#articletitle").val();
        var typeid=$("#typeid").val();
        var articlemsg=UE.getEditor('articlemsg').getContent();
        if(articlemsg=="") {
            alert("请输入文章内容");
            return false;
        }
        if(articletype==-1) {
            alert("请选择文章类型");
            return false;
        }
        if(articletitle=="") {
            alert("请输入文章标题");
            return false;
        }

        if(typeid==0) {
            alert("请选择文章分类");
            return false;
        }
    }

    function articlesave() {
        var articleid=$("#articleid").val();
        var articletitle=$("#articletitle").val();
        var typeid=$("#typeid").val();
        var articletype=$("#articletype").val();
        var articlemsg=UE.getEditor('articlemsg').getContent();
        var articedigest=$("#articedigest").val();
        var articetag=$("#articetag").val();
        if(articlemsg=="") {
            alert("请输入文章内容");
            return false;
        }
        if(articletype==-1) {
            alert("请选择文章类型");
            return false;
        }
        if(articletitle=="") {
            alert("请输入文章标题");
            return false;
        }

        if(typeid==0) {
            alert("请选择文章分类");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/admin/ajaxarticle",
            data:"articleid="+articleid+"&articletitle="+articletitle+"&typeid="+typeid+"&articletype="+articletype+"&articlemsg="+articlemsg+"&articedigest="+articedigest+"&articetag="+articetag,
            success: function(msg){
                var ms = eval('(' + msg + ')');
                if(ms==0)
                {
                    $("#savelabel").show();
                    $("#savelabel").html("文章标题已存在，重新编辑！");
                }
                else
                {
                    var time = new Date();
                    var t = time.getDate() + " " + time.getHours() + ":"
                            + time.getMinutes() + ":" + time.getSeconds();
                    $("#savelabel").html("文章已保存为草稿&nbsp;&nbsp;"+t);
                    $("#savelabel").show();
                    $("#articleid").val(ms);
                }
            }
        });
    }

</script>