<div class="panel-heading">{$gossip.ID==0?"添加":"编辑"}碎语</div>
<div class="panel-body">
    <form action="/admin/doAddGossip" method="POST">
        <div class="box-body">
            <div class="form-group">
                <label for="typename">碎语信息</label>
                <input type="hidden" name="gossipid" value="{$gossip.ID}"/>
                <input type="text" name="datamsg" value="{$gossip.DataMsg}" class="form-control" placeholder="请输入碎语">
            </div>
            <div class="form-group">
                <label for="typestatus">内容状态</label>
                <select name="datatatus">
                    <option value="0" {$gossip.IsLogicDel==0 ? 'selected' : ''} >显示</option>
                    <option value="1" {$gossip.IsLogicDel==1 ? 'selected' : ''} >删除</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">确认保存</button>
            </div>
        </div>
    </form>
</div>