<div class="panel-heading">文章列表
   <a style="float:right;margin-top:-6px;" href="/admin/addarticle" class="btn btn-primary">写新文章</a>
</div>

<div class="panel-body">
    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover dataTable" >
                        <thead>
                        <tr>
                            <th>文章ID</th>
                            <th>文章标题</th>
                            <th>阅读</th>
                            <th>是否发布</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $articles as $article}
                        <tr>
                            <td>{$article.ArticleID}</td>
                            <td>{$article.ArticleTitle}({$article.PublishTime|date="y-m-d",###})</td>
                            <td>{$article.ReadNum}</td>
                            <td>{$article.IsPublish==1?'已发布':'未发布'}</td>
                            <td>
                                <a href="/admin/addarticle/{$article.ArticleID}"><i class="fa fa-pencil fa-fw" style="font-size: 20px;"></i></a>
                                <a href="/admin/delarticle/{$article.ArticleID}" onclick="return confirm('确定要删除该文章么？')"><i class="fa fa-trash-o fa-fw" style="font-size: 20px;"></i></a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <div class="col-sm-7" style="float: right">
                    {$articles->render()}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 ">
                    {$articles[0]?"":"暂无数据"}
                </div>

            </div>
        </div>
    </div>

</div>