<div class="panel-heading">用户列表
   <a style="float:right;margin-top:-6px;" href="/admin/addUser" class="btn btn-primary">添加用户</a>
</div>

<div class="panel-body">
    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover dataTable" >
                        <thead>
                        <tr>
                            <th>用户ID</th>
                            <th>用户名</th>
                            <th>用户权限</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $users as $user}
                        <tr>
                            <td>{$user.userid}</td>
                            <td>{$user.username}</td>
                            <td>{$user.userlevel==0?'超级管理员':($user.userlevel==1?'普通用户':'项目管理用户')}</td>
                            <td><a href="/admin/addUser/{$user.userid}"><i class="fa fa-pencil fa-fw" style="font-size: 20px;" title="编辑"></i></a>
                                <a href="/admin/delUser/{$user.prouseridjectid}" onclick="return confirm('确定要删除该用户么？')"><i class="fa fa-trash-o fa-fw" style="font-size: 20px;" title="删除"></i></a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 ">
                    {$users?"":"暂无数据"}
                </div>

            </div>
        </div>
    </div>

</div>