{layout name="layouts/twoindex" replace="[__REPLACE__]" /}
<div class="aboutme">
    <h3>About Me</h3>
    <div class="divhr"></div>
    <div class="coutent">
        My name is Liu XiaoMo(刘小莫). You can call me MoMo. I was born in 1990s.
        I am an IT developer focusing on web technology and PHP. Now I am in wuxi medical library software technology co., LTD. PHP software engineer.
        In spare time, I like reading book, surfing internet,travel,play table tennis and outdoor running.
    </div>
    <h3>External Links</h3>
    <div class="divhr"></div>
    <div class="coutent">
        <a href="mailto:xirizhifeng@163.com" title="欢迎发邮件学术探讨哦">xirizhifeng@163.com</a>&nbsp;&nbsp;&nbsp;
        <a target=_blank href="http://weibo.com/2815473314" title="去我微博看看吧">微博</a>&nbsp;&nbsp;&nbsp;
        <a target=_blank href="https://github.com/zhuifengxia" title="资源共享哦">GitHub</a>&nbsp;&nbsp;&nbsp;
        <a target=_blank href="http://blog.csdn.net/momo_mutou" title="我还有CSDN哦">CSDN</a>&nbsp;&nbsp;&nbsp;
        <a target=_blank href="/gossips" title="我的胡言乱语。。。">有句话要说</a><br/>
        <img alt="扫我关注我哦" title="扫我关注我哦" src="/static/home/images/wechatcode.png" width="150" height="150"/>
    </div>
</div>