{layout name="layouts/twoindex" replace="[__REPLACE__]" /}
<div class="aboutme">
    <h3>胡言乱语</h3>
    <div class="divhr"></div>
    <div class="coutent">
        <div class="gossip" id="gossiplist">
            <ul class="archives-monthlisting">
                {volist name="gossips" id="item"}
                <li>
                    <span class="tt">{$item.DataTime|date='Y年m月d H:i',###}</span>
                    <div class="shuoshuo-content">
                        <p style="font-size:14px;line-height:0px;">{$item.DataMsg}</p>
                    </div>
                </li>
                {/volist}
            </ul>
        </div>

    </div>
</div>