<input type="hidden" id="typeid" name="typeid" value="{$typeid}"/>
{foreach $articledata as $article}
<article class="excerpt">
    <header>
        <a class="label label-yuanchuang" style="background-color:{$article.ArticleType?'#777':'#5cb85c'}"  href="#">{$article.ArticleType?'转载':'原创'}</a>
        {if $article.TypeName}
        <a class="label label-important" href="/blog/{$article.TypeID}">{$article.TypeName}<i class="label-arrow"></i></a>
        {/if}
        <h2><a href="/blog/article/{$article.ArticleID}" title="{$article.ArticleTitle}">{$article.ArticleTitle}</a></h2>
    </header>
    <div class="focus">
        <a target="_blank" href="#">
            <img class="thumb" style="width:200px;height:123px;margin-bottom:20px;" src="{$article.ArticleImg}" alt="{$article.ArticleTitle}">
        </a>
    </div>
        <span class="note">{$article.ArticleMsg?(mb_strlen(strip_tags($article.ArticleMsg),'UTF8')>=300 ? mb_substr(strip_tags($article.ArticleMsg),0,300).'。。。' : strip_tags($article.ArticleMsg)):''}
           &nbsp;&nbsp;&nbsp; <a href="/blog/article/{$article.ArticleID}" rel="nofollow" class="more-link">继续阅读 »</a>
        </span>
    <br/><br/>
    <p class="auth-span">
        <span class="muted"><i class="fa fa-user"></i> <a href="#">刘小莫</a></span>
        <span class="muted"><i class="fa fa-clock-o"></i> {$article.PublishTime}</span>
        <span class="muted"><i class="fa fa-eye"></i> {$article.ReadNum}浏览</span>
        <span class="muted"><a href="javascript:;" onclick="likeoperation(1,{$article.ArticleID})" class="action"><i class="fa {$article.IsLike?'fa-heart':'fa-heart-o'}" id="artlikenumi{$article.ArticleID}"></i><font id="artlikenum{$article.ArticleID}">{$article.LikeNum}</font>个赞</a></span></p>
</article>
{/foreach}