{foreach $projects as $project}
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="Repository card">
        <div class="card-block">
            <div class="name">
                <i class="fa fa-book" style="color:#3c8dbc"></i>&nbsp;&nbsp;<a href="/docapi/apis/{$project.projectid}">{$project.project_name}</a>
            </div>
            <div class="desc">{$project.project_info}</div>
            {if $project.cooperation_rule!=null}
            (<a href="/docapi/prorules/{$project.projectid}" target="_blank">合作约定</a>)
            {/if}
        </div>
        <div class="card-block card-footer">
            <span class="ownername"><i class="fa fa-user"></i>&nbsp;&nbsp;{$project.last_user}</span><span
                class="fromnow">{$project.last_time}更新</span></div>
    </div>
</div>
{/foreach}